anyio==4.12.0
blinker==1.9.0
certifi==2025.11.12
click==8.3.1
construct==2.10.70
construct-typing==0.7.0
Flask==3.1.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jsonalias==0.1.1
MarkupSafe==3.0.3
python-telegram-bot==22.5
solana==0.36.11
solders==0.27.1
typing_extensions==4.15.0
websockets==15.0.1
Werkzeug==3.1.4
